@import "../styles/global/_colors.scss";

ul {
  width:                        calc(100% - 140px);
  text-align:                   center;
  li {
    display:                    inline-block;
    a {
      color:                    $dark-blue;
    }
  }
}
