@import "../styles/global/_colors.scss";

.footer {
  background-color:                      $darkness-blue;
  // height:                                520px;
  .row {
    height: 520px;
  }
  h5, ul li a {
    color:                               white;
  }
  h5 {
    font-weight:                         normal;
  }
  img {
    width:                               350px;
  }
  ul {
    vertical-align: top;
    li {
      margin-bottom: 10px;
      a {
        font-size:                       1.2em;
        text-transform:                  uppercase;
        padding-left:                    10px;
      }
    }
  }
  .link-tryia {
    // line-height: 2;
    padding-bottom: 20px;
    text-align:                          center;
    margin:                              0;
    &, & a {
      color:                             #999;
    }
  }
}
