@import "../styles/global/_colors.scss";

.footer {
  background-color:                      $darkness-blue;
  h5, ul li a {
    color:                               white;
  }
  h5 {
    font-weight:                         normal;
  }
  ul {
    li {
      a {
        font-size:                       1.2em;
        text-transform:                  uppercase;
        padding-left:                    10px;
      }
    }
  }
  .link-tryia {
    text-align:                          center;
    margin:                              0;
    &, & a {
      color:                             #999;
    }
  }
}
