.btn {
  font-size: 18px;
  padding: 20px 30px;
  @include border-radius(45px);
  border: 0;
  outline: 0;
}

.btn-circle {
  @include border-radius(50%);
  border: 0;
  outline: 0;
  background-color: $light-grey;
  color: grey;
  font-size: 70px;
  height: 130px;
  width: 130px;
}

.btn-primary {
  @extend .btn;
  // padding: 20px 80px;
  background-color: $darkness-blue;
  color: white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $dark-blue;
  }
}

.btn-default {
  @extend .btn;
  color: white;
  background-color: $grey;
}

.btn-null {
  border: 0;
  outline: 0;
  background: transparent;
}

.btn-box {
  text-align: right;
}

@media (max-width: 520px) {
  .product-box-img {
    .btn-circle {
      display: block;
      margin: 0 auto;
    }
  }
}

@media (max-width: 824px) {
  .btn-box {
    text-align: center;
    button {
      margin: 0 auto;
      display: block;
      &.float-left {
        float: none !important;
      }
      &.btn-default {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
  }
}
