.carousel-indicators {
  li {
    width: 15px;
    height: 15px;
    @include border-radius(50%);
    opacity: 1;
    margin: 0 5px;
    &:focus,
    &:hover,
    &:active,
    &.active {
      background-color: $dark-blue;
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  &:focus,
  &:hover,
  &:active,
  &.active {
    opacity: 1;
    i:before {
      color: $dark-blue;
    }
  }
  i {
    color: $light-grey;
    font-size: 2.5em;
    &:before {
      color: $light-grey;
    }
  }
}

.carousel-inner {
  .resp {
    display: none !important;
    &.c-item1 {
      @include background('../../assets/img/carousel1.png');
      height: 480px;
    }
    &.c-item2 {
      @include background('../../assets/img/carousel1.png');
      height: 480px;
    }
    &.c-item3 {
      @include background('../../assets/img/carousel1.png');
      height: 480px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .carousel-inner {
    .carousel-item {
      .desk {
        display: none !important;
      }
      .resp {
        display: block !important;
      }
      .w-100 {
        width: auto !important;
      }
      img {
        height: 480px;
        // width: auto;
        -webkit-background-size:                contain;
        -moz-background-size:                   contain;
        -o-background-size:                     contain;
        background-size:                        contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
}
