// shades of blue
$darkness-blue:                 #02284a;
$dark-blue:                     #003b6f;
$blue:                          #003b6f;
$light-blue:                    #3E73AC;
$semi-light-blue:               #15447D;

// shades of grey
$light-grey:                    #E4E4E4;
$grey:                          #707070;
