@font-face {
  font-family: "HelveticaNeue-Regular";
  src: url("~@/assets/fonts/helveticaneue/helveticaneue.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("~@/assets/fonts/helveticaneue/Helvetica65Medium_22443.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("~@/assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("~@/assets/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("~@/assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("~@/assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("~@/assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

// @font-face {
//   font-family: "Mosk";
//   src: url("~@/assets/fonts/mosk/Mosk-Regular.otf") format("truetype");
// }

@font-face {
  font-family: "Mosk-Medium";
  src: url("~@/assets/fonts/mosk/Mosk-Medium-500.ttf") format("truetype");
}

@font-face {
  font-family: "Mosk-Bold-700";
  src: url("~@/assets/fonts/mosk/Mosk-Bold-700.ttf") format("truetype");
}
